body{background-color: #191B1D;
	width: 100%;
    max-width: 1240px;
    height: 100%;
	max-height: 1677px;
	left: 0px;
	top: 0px;
    margin: 0 auto;
    position: relative;
    
}
.wrapper{	width: 100%;
    max-width: 1142px;
    margin: 0 auto;}

.header{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Montserrat;
    border-style: solid;
	border-width: 0px 0px 1px;
	border-color: #7E1823;
    box-sizing: border-box;
    /* Burger */
    &__burger{
       
        display: block;
        height: 16px;
        width: 22px;
        position: relative;
        z-index: 2;
        span{
            position: absolute;
            background-color: #FFFFFF;
            left: 0;
            width: 100%;
            height: 2px;
            top: 7px;
        }
    }
    &__burger:before,
    &__burger:after{
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    &__burger:before{top:0px}
    &__burger:after{bottom: 0px;}
    
    /* Phone */
    &__phone{font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        text-align: center;
        
        img{display: block;
            width: 15px;
            float: left;
            height: 15px;
        }
    }
}
/* LOGO mobile*/
.logo{
    font-family: Jura;
	font-style: normal;
	font-weight: bold;
    text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);
    width:124px;
    height: 23px;
    z-index: 2;

    &__picture{width: 87px;
        height: 14px;
        float:left;
        margin: -3px;
        img{
            width: 87px;
            height: 14px;}}

    &__text1{
        height: 14px;
        font-size: 14px;
        line-height: 14px;
        display: table-cell;
        vertical-align: bottom;
        color: #DA251D;
        text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);
        }

    &__text2{font-size: 8px;
        line-height: 9px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);}
    
    
}
/* MENU */
.menu{
    &__link{font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 0px;
        color: #FFFFFF;
        
        text-decoration:none;      
    }
    

    &__list{

        li{list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 28px;
            
        }

    }
}
.header__menu.menu-active{margin-top: 0px;}

.content{

    font-family: Jura;
	font-style: normal;
    
    color: #FFFFFF;



    &__button{
        width: 133px;
        height: 40px;
        background: linear-gradient(90deg, #B91327 0%, #FF864C 100%);
        box-shadow: 0px 0px 10px rgba(185, 19, 39, 0.5);
        border-radius: 2px;
        border: none;
        color: #FFFFFF;

	    font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
    }

    &__subtitle{
        font-family: Jura;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 15px;
    }

    &__note{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        width: 267px;
        margin-top: 22px;
        margin-bottom: 15px;
    }
    &__pic1{display: block;
    height: 30px;
    width: 246px;
    margin-top: 14px;
    margin-left: -57px;
    margin-bottom: 7px;}



    /* Facts */
    &__facts{
        width: 100%;
        font-family: Jura;
        font-style: normal; 
        text-align: center;
        display: grid;
        grid-template-columns: 6fr 6fr;
        align-items: center;
        margin-bottom: 20px;
    }
    &__fact{width: 100%;
    }
    &__fact-title{
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }
    &__fact-subtitle{font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }



}

.note-symbol{float: left;
margin-left: -4px;}

.text-gradient{
	background-image: -webkit-linear-gradient(0deg, #B8282C 0%, #FB804A 100%);
    background-image: -moz-linear-gradient(0deg, #B8282C 0%, #FB804A 100%);
    background-image: -ms-linear-gradient(0deg, #B8282C 0%, #FB804A 100%);
    background-image: -o-linear-gradient(0deg, #B8282C 0%, #FB804A 100%);
    background-image: linear-gradient(90deg, #B8282C 0%, #FB804A 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Symbol */
.symbol{
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}

.title-symbol{margin-right: -10px;
    color: #FA7645;}

.note-symbol {
  float: left;
  margin-left: -4px;
}



@media (max-width: 767px){
    /* header menu*/
    .header__menu
        {position: fixed;
        top: 45px;
        left: 0px;
        display: block;
        height: 213px;
        width: 100%;
        text-transform: uppercase;
        background-color: #191B1D;
        z-index: 1;
        margin-top: -100%;
        
    }
    
    /* Menu */
    .menu__list{
        height: 213px;
        width: 100%;
        display: block;
        margin: 0px;
        padding: 0px;
        
    li:hover{
        background: linear-gradient(90deg, #B8282C 0%, #FB804A 100%);
        box-shadow: 0px 4px 8px rgba(99, 199, 178, 0.1);
        }
    }
    .menu__close{height: 10px;
        width: 100%;
    padding-left: 295px / 320px * 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    img{display: block;}
    }

    .content__title{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
		font-weight: bold;
		font-size: 24px;
        line-height: 28px;
        width: 235px;
        height: 87px;
        
    }
    .content__culumn-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 424px;

    }
    .content__tile{display: none;}
    .content__pic2{
        position: absolute;
        left: 59px/320px * 100%;
        top: 535px;
    }
}

@media (min-width:767px){
    .header{
        height: 82px;
        margin: 0 auto;
        max-width: 1142px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Montserrat;
        border-style: solid;
        border-width: 0px 0px 1px;
        border-color: #7E1823;
        box-sizing: border-box;

        &__burger{display: none;}

        &__phone{font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            width: 155px;
            height: 20px;
            text-align: center;
    
            img{display: block;
                width: 20px;
                float: left;
                height: 20px;
                }
        }

        
    }
/* LOGO */
    .logo{font-family: Jura;
        font-style: normal;
        font-weight: bold;
        text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);
        width:187px;
        height: 39px;
    
        &__picture{width: 130px;
            height: 24px;
            float:left;
            img{
                width: 136px;
                height: 24px;}}
    
        &__text1{
            height: 24px;
            font-size: 20px;
            line-height: 24px;
            display: table-cell;
            vertical-align: bottom;
            color: #DA251D;
            text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);
            height: 24px;
            }
    
        &__text2{font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);}
        
        
    }
 /* MENU */


    .menu{
        &__link{text-decoration: none;
            color: #FFFFFF;
            display: flex; 
            align-items: center; 
            height: 82px;
            position: relative;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
        &__close{display: none;}
        &__list{display: flex;
            justify-content: space-between;
            width: 567px;
            margin: 0px;
            padding: 0px;
        }
    }

    .container-1{width: 100%;
        position: relative;
        height: 698px;
        display: flex;
        flex-flow: column wrap;
        
    }
    .content{
        br{display: none;}

        font-family: Jura;
        font-style: normal;

        color: #FFFFFF;
        /* column */
        &__culumn-1{float: left;
            width: 420px;
            height: 630px;
            margin-top: 119px;
            margin-left: 214px;
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        &__title{
            width: 100%;
            max-width: 400px;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            height: 129px;
            margin-bottom: 37px;
            margin-left: 215px;
            div{float:left;
                order: 1;
                }
        }
        &__subtitle{
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 49px;
            width: 312px;
            text-align: left;
            order: 2;
            margin-left: 215px;
        }
        &__button{order: 3;
            margin-left: 215px;}

        &__note{width: 289px;
            height: 36px;
            margin-top: 177px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            text-align: left;
            order: 4;
            margin-left: 215px;
        }

        /* FACTS */
        &__facts{
            width: 100%;
            max-width: 952px;
            font-style: normal; 
            text-align: center;
            display: grid;
            grid-template-columns: 3fr 3fr 3fr 3fr;
            align-items: center;
            margin: 0px;
            margin-left: 147px/1240px * 100%;
            margin-right: 141px/1240px * 100%;
            order: 5;

            }
  
        
            /* Content picture */ 
        &__pic1 {display: block;
            height: 30px;
            position: absolute;
            top: 112px;
        }
        
        &__pic2 {display: block;
            height: 30px;
            width: 402px; 
            position: absolute; 
            top: 616px;
            right: 0px;
        }


        /* TILE */
        &__column-2{
            display: flex;
            height: 640px;
            width: 420px;
            flex-flow: column wrap;
            justify-content: center;
            margin-top: 48px;
            order: 6;
            margin-left: -800px;
            }
        &__tile{
            width: 195px;
            height: 180px;
            background: linear-gradient(180deg, #3D4147 0%, #2E3036 100%);
            border-radius: 5px;
            margin: 0px 30px 30px 0px;
            border: 1px solid #191B1D;
            
        
        
            div{
                font-family: Montserrat;
                font-style: normal;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.05em;
                color: #FFFFFF;}
            
            &:hover{border: 1px solid #FA7E49;
                box-shadow: 0px 0px 20px rgba(251, 128, 74, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.5);	
                }
            
        }
        &__tile-title{
            height: 72px;
            width: 195px;
            display: flex;
            align-items: center;
            font-weight: bold;
        }	
        &__tile-ico{
            width: 32px;
            height: 32px;
            float: left;
            margin-left: 20px; margin-right: 10px;
            img { width: 32px;}
        }
        &__tile-about{
            width: 195px;
            height: 108px;
            font-weight: 500;
            letter-spacing: 0.02em;
            div{
                width: 170px;
                margin-left: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .title-symbol{
        margin-top: 10px;
        color: #FA7645;
    }

    .note-symbol{
        float: left;
        color: #FA7745;
        margin-left: -13px;
    }

}
