body{background-color: #191B1D;
	width: 100%;
    max-width: 1240px;
    height: 100%;
	max-height: 1677px;
	left: 0px;
	top: 0px;
    margin: 0 auto;
    position: relative;
}

.header{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Montserrat;
    border-style: solid;
	border-width: 0px 0px 1px;
	border-color: #7E1823;
    box-sizing: border-box;

    &__burger{
        display: block;
        height: 16px;
        width: 22px;
        position: relative;
    }
    &__burger:before,
    &__burger:after{
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    &__burger:before{top:0px}
    &__burger:after{bottom: 0px;}
}
/* LOGO mobile*/
.logo{font-family: Jura;
	font-style: normal;
	font-weight: bold;
    text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);
    width:124px;
    height: 23px;

    &__picture{width: 87px;
        height: 14px;
        float:left;
        margin: -3px;
        img{
            width: 87px;
            height: 14px;}}

    &__text1{
        height: 14px;
        font-size: 14px;
        line-height: 14px;
        display: table-cell;
        vertical-align: bottom;
        color: #DA251D;
        text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);
        
        }

    &__text2{font-size: 8px;
        line-height: 9px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px rgba(188, 24, 41, 0.5);}
    
    
}
@media (min-width:767px){
    .header__burger{
      
    }
    .logo{display: none;}
}